<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boleria</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
    <div class="container">
        <h3>Cadastro</h3>
        <div class="row">
            <div class="col s12 ">
             <form class="" action="{% url 'save'%}" method="POST">
                 {% csrf_token %}
                  <label>Informe o endereço da Imagem: </label>
                 <input type="url" name="img" placeholder="http://imagem.com">

                 <label>Informe o Título: </label>
                 <input type="text" name="title" placeholder="Informe o titulo:">

                 <label>Ingredientes / Preparo</label>
                 <textarea class="materialize-textarea" type="text" name="description" placeholder="Ingredientes / Preparo: "></textarea>
                 <button class="btn">Enviar</button>

             </form>
            </div>
     </div>
    </div>
     <hr>

    <div class=" container mt-5">
        <h3>Receitas</h3>


        <div class="row">
            {% for receita in receitas %}
            <div class="col s6">

                    <div class="card z-depth-5">
                        <div class="card-image">

                            <img src="{{receita.img}}">
                            <span class="card-title">{{receita.title}}</span>

                        </div>
                        <div class="card-content">
                            <p>{{receita.description}}</p>
                             <a class="btn-floating btn-large alfway-fab waves-effect waves-light cyan" href="{% url 'editar' receita.id %}"><i class="material-icons">edit</i></a>
                            <a class="btn-floating btn-large  waves-effect waves-light red darken-4 " href="{% url 'delete' receita.id %}"><i class="material-icons">delete</i></a>
                        </div>


                    </div>

            </div>
            {% endfor %}
        </div>


    </div>

</body>
</html>